// base.xcconfig
//
// !! You have to define LOSTENGINE_ROOT in every project that uses this config !!
// e.g. LOSTENGINE_ROOT = /Users/foo/path_to_lostengine_subversion_root

// Architectures
ARCHS = $(ARCHS_STANDARD_32_BIT)
ONLY_ACTIVE_ARCH = NO
VALID_ARCHS = i386 armv6

// Search Paths
ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS = "$(LOSTENGINE_ROOT)/thirdparty/boost/boost_1_36_0/include" "$(LOSTENGINE_ROOT)/thirdparty/freetype2/freetype_2_3_7/include" "$(LOSTENGINE_ROOT)/thirdparty/glee/glee_5_21/include" "$(LOSTENGINE_ROOT)/thirdparty/glfw/glfw_2_6/include" "$(LOSTENGINE_ROOT)/thirdparty/lua/lua_5_1_4/include" "$(LOSTENGINE_ROOT)/thirdparty/luabind/luabind_0_7_1/include" "$(LOSTENGINE_ROOT)/thirdparty/stb/stb_image_1_14" "$(LOSTENGINE_ROOT)/thirdparty/stb/stb_vorbis_0_99996" "$(LOSTENGINE_ROOT)/thirdparty/zlib/zlib_1_2_3/include" "$(LOSTENGINE_ROOT)/thirdparty/hashlib++/hashlib++_0_3_1"
LIBRARY_SEARCH_PATHS = $(inherited) "$(LOSTENGINE_ROOT)/thirdparty/freetype2/freetype_2_3_5/lib/mac" "$(LOSTENGINE_ROOT)/thirdparty/glfw/glfw_2_6/lib/mac" "$(LOSTENGINE_ROOT)/thirdparty/zlib/zlib_1_2_3/mac" "$(LOSTENGINE_ROOT)/thirdparty/boost/boost_1_34_1/lib/mac"
USER_HEADER_SEARCH_PATHS = "$(LOSTENGINE_ROOT)/projects/lostengine"

// Compiler Version
GCC_VERSION = 

// GCC 4.0 - Code Generation
GCC_OPTIMIZATION_LEVEL = 0

// GCC 4.0 - Language
GCC_C_LANGUAGE_STANDARD = c99

// GCC 4.0 - Warnings
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
