// base.xcconfig
//
// !! You have to define LOSTENGINE_ROOT in user.xcconfig !!
// e.g. LOSTENGINE_ROOT = /Users/foo/path_to_lostengine_subversion_root

#include "user.xcconfig"

// Architectures
ARCHS = $(NATIVE_ARCH_ACTUAL)
ONLY_ACTIVE_ARCH = YES
VALID_ARCHS = x86_64 armv6

// thirdparty defines
THIRDPARTY_ROOT = "$(LOSTENGINE_ROOT)/thirdparty"
BOOST_ROOT = "$(THIRDPARTY_ROOT)/boost/boost_1_40_0"
BULLET_ROOT = "$(THIRDPARTY_ROOT)/bullet/bullet_2_74"
FHTAGN_ROOT = "$(THIRDPARTY_ROOT)/fhtagn/fhtagn_2008_11_12"
FREETYPE_ROOT = "$(THIRDPARTY_ROOT)/freetype2/freetype_2_3_7"
GLEE_ROOT = "$(THIRDPARTY_ROOT)/glee/glee_5_21"
HASHLIB_ROOT = "$(THIRDPARTY_ROOT)/hashlib++/hashlib++_0_3_1"
LUA_ROOT = "$(THIRDPARTY_ROOT)/lua/lua_5_1_4"
LUABIND_ROOT = "$(THIRDPARTY_ROOT)/luabind/luabind_0_9"
STBIMAGE_ROOT = "$(THIRDPARTY_ROOT)/stb/stb_image_1_18"
STBVORBIS_ROOT = "$(THIRDPARTY_ROOT)/stb/stb_vorbis_0_99996"
UNITTESTPP_ROOT = "$(THIRDPARTY_ROOT)/UnitTest++"
ZLIB_ROOT = "$(THIRDPARTY_ROOT)/zlib/zlib_1_2_3"

// Search Paths
ALWAYS_SEARCH_USER_PATHS = NO
HEADERS1 = "$(LOSTENGINE_ROOT)/projects/lostengine" "$(BOOST_ROOT)" "$(FREETYPE_ROOT)/include" "$(GLEE_ROOT)/include" "$(LUA_ROOT)/include" "$(LUABIND_ROOT)"
HEADERS2 = "$(STBIMAGE_ROOT)" "$(STBVORBIS_ROOT)" "$(UNITTESTPP_ROOT)/include" "$(ZLIB_ROOT)/include" "$(HASHLIB_ROOT)" "$(FHTAGN_ROOT)/include" "$(FHTAGN_ROOT)/source" "$(BULLET_ROOT)/src"
HEADER_SEARCH_PATHS = $(HEADERS1) $(HEADERS2)

// Compiler Version
GCC_VERSION = 4.2


// GCC 4.0 - Language
GCC_C_LANGUAGE_STANDARD = c99

// GCC 4.0 - Preprocessing
//GCC_PREPROCESSOR_DEFINITIONS_NOT_USED_IN_PRECOMPS = FT_CONFIG_H="<freetype/config/ftconfig.h>" FT2_BUILD_LIBRARY
GCC_PREPROCESSOR_DEFINITIONS = FT_CONFIG_H="<freetype/config/ftconfig.h>" FT2_BUILD_LIBRARY __STDC_CONSTANT_MACROS

// GCC 4.0 - Warnings
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES

// enable precompiled headers
// specify the actual pch file in the debug/release configuration
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PFE_FILE_C_DIALECTS = c++ objective-c++
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
