.DS_Store
*.xcworkspace
xcuserdata
.*.sw*

source/thirdparty/lua/lua_5_1_4/lua.xcodeproj/project.pbxproj

source/thirdparty/slub/slub.xcodeproj/project.pbxproj

source/xcode/LostEngine.xcodeproj/project.pbxproj
